CCTV_ROI_APP_DIR=
CCTV_ROI_MODEL_PATH=
CCTV_ROI_CONFIG_PATH=
CCTV_ROI_LONG_STAY_SCREENSHOT_INTERVAL_SEC=5
YOLO26X_MODEL_URL=
CCTV_ROI_MODEL_URL=
YOLO_MODEL_URL=
CCTV_ROI_LPR_ENABLED=false
CCTV_ROI_LPR_PLATE_MODEL_PATH=
CCTV_ROI_LPR_OCR_ENGINE=svtr
CCTV_ROI_LPR_CONFIDENCE=0.35
CCTV_ROI_LPR_SVTR_MODEL_PATH=
CCTV_ROI_LPR_SVTR_CHARSET=0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ
CCTV_ROI_LPR_SVTR_CHARSET_PATH=
CCTV_ROI_LPR_SVTR_INPUT_SIZE=48x160
CCTV_ROI_LPR_SVTR_BLANK_INDEX=0
CCTV_ROI_LPR_SVTR_PROVIDERS=auto
CCTV_ROI_LPR_PADDLE_DEVICE=
CCTV_ROI_LPR_PADDLE_OCR_VERSION=PP-OCRv5
CCTV_ROI_LPR_PADDLE_DET_MODEL_NAME=PP-OCRv5_mobile_det
CCTV_ROI_LPR_PADDLE_REC_MODEL_NAME=PP-OCRv5_mobile_rec
